In [7]:
import pandas as pd
import seaborn as sns

In [8]:
df_sitios= pd.read_parquet('D:/PROYECTO FINAL/Google Maps/Sitios_GMaps.parquet')
df_category= pd.read_parquet('D:/PROYECTO FINAL/Google Maps/Category_Sitios.parquet')
df_misc= pd.read_parquet('D:/PROYECTO FINAL/Google Maps/Misc_Sitios.parquet')

In [22]:
df_review_Arizona= pd.read_parquet('D:/PROYECTO FINAL/Google Maps/Review_Arizona.parquet')

In [9]:
df_sitios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3025011 entries, 0 to 3025010
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   name            object
 1   address         object
 2   gmap_id         object
 3   description     object
 4   latitude        float64
 5   longitude       float64
 6   avg_rating      float64
 7   num_of_reviews  int64
 8   hours           object
 9   state           object
dtypes: float64(3), int64(1), object(6)
memory usage: 230.8+ MB

In [10]:
df_sitios.head(5)

,name,address,gmap_id,description,latitude,longitude,avg_rating,num_of_reviews,hours,state
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,None,32.388300,-83.357100,4.9,16,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...",Open ⋅ Closes 6PM
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,None,34.018891,-118.215290,4.5,6,None,Open now
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.292130,4.4,18,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...",Open ⋅ Closes 6PM
3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,None,34.023669,-118.232930,3.3,6,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",Open ⋅ Closes 5PM
4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,None,34.036694,-118.249421,4.3,7,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",Open ⋅ Closes 5PM

In [11]:
df_sitios.isna().sum()

name                   37
address             80511
gmap_id                 0
description       2770722
latitude                0
longitude               0
avg_rating              0
num_of_reviews          0
hours              787405
state              746455
dtype: int64

In [12]:
df_misc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2334177 entries, 0 to 2334176
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   gmap_id            object
 1   Service options    object
 2   Health & safety    object
 3   Accessibility      object
 4   Planning           object
 5   Offerings          object
 6   Amenities          object
 7   Atmosphere         object
 8   Payments           object
 9   Popular for        object
 10  Dining options     object
 11  Crowd              object
 12  From the business  object
 13  Highlights         object
 14  Recycling          object
 15  Getting here       object
 16  Activities         object
 17  Lodging options    object
 18  Health and safety  object
dtypes: object(19)
memory usage: 338.4+ MB

In [13]:
df_misc.head(5)

,gmap_id,Service options,Health & safety,Accessibility,Planning,Offerings,Amenities,Atmosphere,Payments,Popular for,Dining options,Crowd,From the business,Highlights,Recycling,Getting here,Activities,Lodging options,Health and safety
0,0x88f16e41928ff687:0x883dad4fd048e8f8,"[In-store shopping, Same-day delivery]","[Mask required, Staff required to disinfect su...",[Wheelchair accessible entrance],[Quick visit],None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,0x80c2c778e3b73d33:0xbdc58662a4a97d49,"[Takeout, Dine-in, Delivery]",None,[Wheelchair accessible entrance],None,[Comfort food],[Good for kids],[Casual],None,None,None,None,None,None,None,None,None,None,None
2,0x80c2c89923b27a41:0x32041559418d447,[In-store shopping],None,None,None,None,None,None,"[Checks, Debit cards, Credit cards]",None,None,None,None,None,None,None,None,None,None
3,0x80c2c632f933b073:0xc31785961fe826a6,[In-store pickup],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,0x80c2cf163db6bc89:0x219484e2edbcfa41,None,None,[Wheelchair accessible entrance],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [14]:
df_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6280115 entries, 0 to 6280114
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   gmap_id   object
 1   category  object
dtypes: object(2)
memory usage: 95.8+ MB

In [15]:
df_category.head(5)

                                 gmap_id           category
0  0x88f16e41928ff687:0x883dad4fd048e8f8           Pharmacy
1  0x80c2c98c0e3c16fd:0x29ec8a728764fdf9   Textile exporter
2  0x80c2c778e3b73d33:0xbdc58662a4a97d49  Korean restaurant
3   0x80c2c89923b27a41:0x32041559418d447       Fabric store
4  0x80c2c632f933b073:0xc31785961fe826a6       Fabric store

In [16]:
df_category['category'].value_counts()[:20]

category
Restaurant               97257
Auto repair shop         77854
Gas station              70143
Service establishment    66476
Beauty salon             65717
Convenience store        62165
Church                   53069
Hair salon               51765
Nail salon               44597
ATM                      42452
Park                     42414
Doctor                   36669
Clothing store           36470
Dentist                  36138
Insurance agency         35677
Barber shop              35325
Grocery store            31699
Bar                      30931
Cell phone store         30584
Tire shop                29633
Name: count, dtype: int64

In [17]:
df_sitios['description'].value_counts()

description
Casual counter-serve chain for build-your-own sandwiches & salads, with health-conscious options.      9773
Convenience chain offering grab-&-go bites & beverages, plus assorted newsstand items.                 4762
Drugstore chain with health & beauty aids, prescriptions & photo services, plus mini-mart basics.      4656
Drugstore chain selling a variety of beauty & health products, plus some grocery & household items.    4584
Kiosk chain renting movies, including new releases (many are located inside stores).                   4564
                                                                                                       ...
Longtime gallery established in 1950 showcasing rotating exhibits of modern & contemporary art.           1
Grouping of fenced geothermal pools in rural surrounds, a known stop on the California Trail.             1
Popular eatery whipping up lunch-oriented Japanese grub in utilitarian digs with outdoor seating.         1
Spacious sports bar offering an eclectic American menu & a 23-tap bar amid brick walls & large TVs.       1
Innovative, globally inspired dishes are paired with wine, cocktails & sake in offbeat surrounds.         1
Name: count, Length: 70925, dtype: int64

In [21]:
df_sitios.sort_values(by='num_of_reviews', ascending=False)[:10]

,name,address,gmap_id,description,latitude,longitude,avg_rating,num_of_reviews,hours,state
2746110,The Old Mill Restaurant,"The Old Mill Restaurant, 164 Old Mill Ave, Pig...",0x885bff0120ec937d:0x14e7858019748c5f,1830 gristmill anchors a complex with 2 countr...,35.788239,-83.553654,4.7,9998,"[[Tuesday, 8AM–9PM], [Wednesday, 8AM–9PM], [Th...",Open ⋅ Closes 9PM
2745802,O'Hare International Airport,"O'Hare International Airport (ORD), 10000 W O'...",0x880fb4276a7762f3:0x511747070259ad4b,"Huge (over 7,000 acres) airport serving the Mi...",41.980280,-87.908998,4.0,9998,None,None
2724559,Ark Encounter,"Ark Encounter, 1 Ark Encounter Dr, Williamstow...",0x88418c9f72f8ff8b:0xf2aed7758d08d045,Massive ship with 3 decks depicting Biblical t...,38.628914,-84.579967,4.6,9998,"[[Saturday, 9AM–8PM], [Sunday, 1–7PM], [Monday...",Closed ⋅ Opens 9AM
2492822,Wrigley Field,"Wrigley Field, 1060 W Addison St, Chicago, IL ...",0x880fd3b2e59adf21:0x1cea3ee176ddd646,Ivy-covered walls & manual scoreboard add retr...,41.948438,-87.655333,4.8,9998,None,None
2736451,The Battery,"The Battery, New York, NY 10004, United States",0x89c25a12f88ba2ad:0xbe70465e98439c12,Historic park with Ellis Island & Statue of Li...,40.703141,-74.016000,4.6,9998,"[[Wednesday, 6AM–12AM], [Thursday, 6AM–12AM], ...",Opens soon ⋅ 6AM
2744674,The Art Institute of Chicago,"The Art Institute of Chicago, 111 S Michigan A...",0x880e2ca3e2d94695:0x4829f3cc9ca2d0de,"Renowned art museum holding nearly 300,000 wor...",41.879584,-87.623713,4.8,9998,"[[Tuesday, Closed], [Wednesday, Closed], [Thur...",Closed ⋅ Opens 11AM Thu
2736445,Lincoln Memorial,"Lincoln Memorial, 2 Lincoln Memorial Cir NW, W...",0x89b7b771e0906287:0x1049d1c9c95c2eb6,Parthenon-inspired tribute to Abraham Lincoln ...,38.889269,-77.050176,4.8,9998,"[[Wednesday, Open 24 hours], [Thursday, Open 2...",Open 24 hours
2497721,Red Rocks Park and Amphitheatre,"Red Rocks Park and Amphitheatre, 18300 W Alame...",0x876b82da0e6cc8d7:0x7c83e707392cd6ad,"Hikeable & bikeable red-stone cliffs, plus a g...",39.665538,-105.205212,4.9,9998,"[[Friday, 9AM–5PM], [Saturday, 9AM–5PM], [Sund...",Closed ⋅ Opens 9AM
2736434,Katz's Delicatessen,"Katz's Delicatessen, 205 E Houston St, New Yor...",0x89c2598f7ff4aa09:0x313547e757cb8cea,No-frills deli with theatrically cranky servic...,40.722233,-73.987429,4.5,9998,"[[Wednesday, 8AM–10:45PM], [Thursday, 8AM–10:4...",Closed ⋅ Opens 8AM
2743117,Sawgrass Mills,"Sawgrass Mills, 12801 W Sunrise Blvd, Sunrise,...",0x88d908feeaeded1f:0x29c1bf6101ce3a42,"Shopping center with a large supermarket, plus...",26.149294,-80.323482,4.6,9998,"[[Tuesday, 10AM–9PM], [Wednesday, 10AM–9PM], [...",Open ⋅ Closes 9PM

In [23]:
df_union= pd.merge(df_review_Arizona, df_sitios, on='gmap_id', how= 'inner')

In [27]:
df_union.head(3)

,user_id,name_x,time,rating,text,resp,gmap_id,name_y,address,description,latitude,longitude,avg_rating,num_of_reviews,hours,state
0,1.183560e+20,Vicki Ullery,2021-08-11 21:41:11.358,5,Gwen was so informative and made me feel comfo...,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821,Oasis Dentistry,"Oasis Dentistry, 10184 W Happy Valley Pkwy Sui...",None,33.713254,-112.278488,4.8,74,"[[Thursday, 8AM–5PM], [Friday, 8AM–5PM], [Satu...",Closed ⋅ Opens 8AM
1,1.183560e+20,Vicki Ullery,2021-08-11 21:41:11.358,5,Gwen was so informative and made me feel comfo...,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821,Oasis Dentistry,"Oasis Dentistry, 10184 W Happy Valley Pkwy Sui...",None,33.713254,-112.278488,4.8,74,"[[Thursday, 8AM–5PM], [Friday, 8AM–5PM], [Satu...",Closed ⋅ Opens 8AM
2,1.126523e+20,Doc Kovacs,2021-01-04 21:35:29.431,5,Dr. Huyhn is an ethical skilled dentist. Her s...,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821,Oasis Dentistry,"Oasis Dentistry, 10184 W Happy Valley Pkwy Sui...",None,33.713254,-112.278488,4.8,74,"[[Thursday, 8AM–5PM], [Friday, 8AM–5PM], [Satu...",Closed ⋅ Opens 8AM

In [29]:
df_union['name_y'].value_counts()[:20]

name_y
Walmart Supercenter                 12713
McDonald's                          10781
Cracker Barrel Old Country Store     9395
Chick-fil-A                          7717
IKEA                                 7603
Starbucks                            7290
Phoenix Zoo                          6895
Circle K                             6230
OdySea Aquarium                      6216
The Home Depot                       5912
Taco Bell                            5319
Subway                               5279
Whataburger                          4923
Culver's                             4696
Safeway                              4358
Sonic Drive-In                       4189
Costco Wholesale                     4032
T-Mobile                             3876
Rental Car Center                    3854
Popeyes Louisiana Kitchen            3836
Name: count, dtype: int64